body {
  margin: 0;
  min-height:100vh; 
  position:relative; 
  padding-bottom:100px;
}
* {
  box-sizing: border-box;
}
.container {
	display: flex;
	min-height: 100%;
	&__item {
		width: 50%;
		&-green {
			background-color: #55efc4;
		}
		&-blue {
			background-color: #81ecec;
		}
	}
}
footer {
  background-color: #a29bfe;
  height: 100px;
  position: absolute; 
  width: 100%;
  bottom: 0; 
}
header {
  background-color: #a29bfe;
  height: 50px;
  width: 100%;
}