@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@mixin btn($bg: black, $fs: 18px, $ls: 0.5px, $clr: white, $fw: 400) {
  padding: 9px 29px;
  margin: 0px;
  text-align: center;
  color: $clr;
  font-size: $fs;
  letter-spacing: $ls;
  background-color: $bg;
  text-decoration: none;
  font-weight: $fw;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    color: #63bf94;
    background-color: white;
  }
  &:active{
    transform: translateY(1px);
    filter: saturate(150%);
  }
}
body {
  margin: 0;
  min-height:100vh; 
  position:relative; 
  padding-bottom:100px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 1960px;
  margin: 0 auto;
  padding: 0;
}  
* {
    box-sizing: border-box;
    margin: 0px;
}
.header{
  display: flex;
  width: 84%;
  margin: 0 auto;
  justify-content: space-between;
  &__logo{
    // font-size: 50px;
    font-weight: 700;
    .text{
      font-size: 66px;
    }
    .plus{
      color: #63bf94;
      font-size: 68px;
    }
  }
  .navigation{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 38%;
    justify-content: space-between;
    a{
      text-decoration: none;
      color:grey;
      font-weight: 500;
      &:hover{
        color: darken(grey, 80%);
      }
    }
  }
}
.iphone{
  background-color: #63bf94;
  .phone{
    padding: 65px 0px;
    display: flex;
    align-items: center;
    width: 84%;
    margin: 0 auto;
    justify-content: space-between;
    &__text{
      width: 49%;
      color: white;
      font-size: 18px;
      .text{
        margin: 40px 0px;
      }
    }
    &__image{
      margin-left: 175px;
    }
  }
}
.icons{
  display: flex;
  justify-content: center;
  padding: 67px 0px;
  .item{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    &__icon{
      border-radius: 50%;
      background-color: #63bf94;
      color: white;
      border-radius: 50%;
      position: relative;
      width: 90px;
      height: 90px;
      margin-bottom: 25px;
      i{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        font-size: 33px;
      }
    }
    &__headline{
      margin-bottom: 23px;
      font-weight: 700;
      color: #454343;
    }
  }
}
.contact{
  padding: 85px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #63bf94;
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47%;
    margin: 0 auto;
    &__headline{
      margin-bottom: 54px;
    }
    .input,.textarea{
      width: 100%;
      font-size: 22px;
      padding: 3px 10px;
      margin-bottom: 8px;
    }
    .textarea{
      resize: none;
    }
    &-one-line{
      width: 100%;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      margin: 10px;
    }
    .subscribe, .drink{
      width: auto;
      padding: 0;
    }
  }
}
h2{
  font-size: 30px;
  color: white;
  font-weight: 600;
}
button, .button{
  $values:(bg: transparent, fs: 24px, clr: white);
  @include btn($values...);
  cursor: pointer;
  border: solid 2px white;
  border-radius: 10px;
  &-contact{
    // width: 30%;
    margin-bottom: 10px;
    // padding: 10px 20px;
  }
}